{% extends 'core/base.html' %}

{% block title %}About Me{% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers%}
    <h1>About Me</h1>
    <!-- <span class="subheading">Biography</span> -->
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{% static 'core/img/juannavas.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Juan Navas</h2>   
            <p>I'm Full Stack Web Developer with knowledge in Javascript, PHP, HTML, CSS, Laravel, MySQL, Node.js, MongoDB, React.js ...</p>
            <p>I'm a computer science student at the Central University of Venezuela.</p>
        </div>
    </div>
{% endblock %}

