{% extends 'core/base.html' %}

{% block title %}Contact{% endblock %}

{% block background %}{% load static %}{% static 'core/img/envelope.jpg' %}{% endblock %}

{% block headers%}
    <h1>Contact </h1>
    <span class="subheading"></span>
{% endblock%}

{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p><b>Email:</b> <a href="mailto:yo@juannavas.xyz">yo@juannavas.xyz</a></p>
        </div>
    </div>
{% endblock %}