{% extends 'core/base.html' %}

{% block title %}Home{% endblock %}

{% block background %}{% load static %}{% static 'core/img/home-bg.jpg' %}{% endblock %}

{% block headers%}
        <h1>Juan Navas</h1>
        <span class="subheading">Web Developer</span>
{% endblock%}
