{% extends 'core/base.html' %}

{% block title %}Portfolio{% endblock %}

{% block background %}{% load static %}{% static 'core/img/portfolio-bg.jpg' %}{% endblock %}

{% block headers%}
    <h1>Portfolio</h1>
    <span class="subheading">Projects</span>
{% endblock%}

{% block content %}
    {% for project in projects %}
        <!-- Proyecto -->
        <div class="row project">  	
            <div class="col-lg-3 col-md-4 offset-lg-1">
                    <img class="img-fluid" src="{{project.image.url}}" alt="">
            </div>
            <div class="col-lg-7 col-md-8">
                <h2 class="section-heading title">{{project.title}}</h2>   
                <p>{{project.description}}</p>

                {% if project.link %}
                    <p><a href="{{project.link}}" target="_blank">View</a></p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}